{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    {% if not active_post %}
        <div class="blog-header">
            <h1 class="blog-title">It's deadlocked!</h1>
            <p class="lead blog-description">Anton Blomberg's blog about programming and stuff</p>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-8 blog-main">
            {% if active_post %}
                <div class="blog-post single-post">
                    <h2 class="blog-post-title">{{ active_post.title }}</h2>
                    <p class="blog-post-meta">{{ active_post.pub_date|date:"d M, Y" }} by Anton Blomberg</p>
                    {{ active_post.entry|safe }}
                    <div class="blog-post-footer"></div>
                </div>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    {% if debug %}
                        var disqus_developer = 1;
                        var disqus_shortname = 'deadlock-se-test';
                    {% else %}
                        var disqus_shortname = 'deadlock-se';
                    {% endif %}

                    var disqus_identifier = 'post/{{ active_post.id }}';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <hr>
                <p><em>More posts:</em></p>
            {% endif %}

            {% for post in posts %}
                {% if not active_post or active_post and active_post.id != post.id %}
                    <div class="blog-post">
                        <h2 class="blog-post-title"><a href="{{ post.getUrl }}">{{ post.title }}</a></h2>
                        <p class="blog-post-meta">{{ post.pub_date|date:"d M, Y" }} by Anton Blomberg</p>
                        {{ post.entry|safe }}
                        <hr>
                        <div class="count-comments" data-post-url="{{ post.getUrl }}" data-disqus-id="post/{{ post.id }}"></div>
                        <div class="blog-post-footer"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>Latest post</h4>
                <a href="{{ latest_post.getUrl }}" class="latest-post-text">{{ latest_post.title }}</a>
                <p><em><span class="latest-post-text">{{ latest_post.getPlainText|truncatechars:50 }}</span> <a href="#">Read more</a></em></p>
            </div>
            <div class="sidebar-module">
                <h4>Previous posts</h4>
                <ol class="list-unstyled">
                    {% for post in posts|slice:"1:" %}
                        <li><a href="{{ post.getUrl }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock content %}